---
import type { Props } from '@astrojs/starlight/props';
import EditLink from '@astrojs/starlight/components/EditLink.astro';
import LastUpdated from '@astrojs/starlight/components/LastUpdated.astro';
import Pagination from '@astrojs/starlight/components/Pagination.astro';
---
<style>
  .footer {
    margin-top: 6em;
  }
  .pageControls {
    display: flex;
    justify-content: space-between;
  }
  hr {
    margin-top: 2em;
  }
  p.fineprint {
    margin-top: 2em;
    font-size: smaller;
  }
  p.fineprint, .fineprint a {
    color: var(--sl-color-text);
  }

</style>

<div class="footer">

  <Pagination {...Astro.props}><slot /></Pagination>
  
  <hr/>

  <div class="pageControls">
    <EditLink {...Astro.props}><slot /></EditLink>

    <LastUpdated {...Astro.props}><slot /></LastUpdated>
  </div>

  <p class="fineprint">
    <a property="dct:title" rel="cc:attributionURL" href="https://graphr.ag">GraphRAG Pattern Catalog</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://neo4j.com">Neo4j, Inc</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""></a>
  </p>
</div>